.button-solid-icon {
  background-color: #555;
  border: none;
  border-radius: 0.5rem;
  color: #888;
  cursor: pointer;

  padding: 0.75rem 1.5rem;
  font-size: 16px;
  text-align: center;

  align-items: center;
  display: flex;
  gap: 0.5rem;

  &:hover {
    background-color: #787;
    border: 1px solid #232;
    color: #111;
  }

  &:active {
    background-color: #238;
    border: 1px solid #987;
    color: #987;
  }

  &:disabled {
    background-color: #789;
    border: 1px solid #658;
    color: #239;
    opacity: #268;
  }
}
